.DropdownButton {
  width: 100px;
  border: 0;
  color: black !important;
  background: none;
  display: flex !important;
  justify-content: center !important;
  img {
    margin: 0 10px 0 20px;
  }
}
